* {
    margin: 0;
    padding: 0;
}

a {
    all: unset;
}

body {
    background-color: white;
    font-family: Helvetica, Arial, 'lucida grande', tahoma, verdana, arial, sans-serif;
}

.profile_picture {
    border: 1px #ddd;
    padding: 5px;
    width: 150px;
    border-radius: 100%;
}

.box {
    background-color: white;
    color: black;
    padding: 20px;
    font-size: 100%;
}

.navbar {
    background-color: #492e72;
    grid-area: navbar;
    color: white;
    display: grid;
    grid-template-columns: 2fr 2fr 0.5fr 3fr 2fr;
    grid-template-areas: "title search_bar search_button . nav_buttons";
}

button,
#upload_new_photo {
    background-color: #714cac;
    border: none;
    padding: 9px;
    margin-left: 5px;
    margin-right: 5px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
}

.error_placeholder::placeholder {
    color: rgb(248, 142, 142);
    font-style: italic;
}

button:hover,
#upload_new_photo:hover {
    cursor: pointer;
    background: #492e72;
}

.nav-buttons button:hover {
    background: #7a51bb;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.nav-buttons button:active {
    cursor: pointer;
    background: #000;
}

#search-button:hover {
    background: #7a51bb;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

#search-button:active {
    cursor: pointer;
    background: #000;
}

button:active,
#upload_new_photo:active {
    cursor: pointer;
    background: #000;
}

#title-logo {
    grid-area: title;
}

#search-bar {
    grid-area: search_bar;
    border-radius: 10px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.search-btn {
    grid-area: search_button;
}

.nav-buttons {
    grid-area: nav_buttons;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}


/* The container <div> - needed to position the dropdown content */

.dropdown {
    position: relative;
    display: inline-block;
}


/* Dropdown Content (Hidden by Default) */

.dropdown-content {
    display: none;
    border-radius: 5px;
    position: absolute;
    background-color: #714cac;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}


/* Links inside the dropdown */

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


/* Change color of dropdown links on hover */

.dropdown-content a:hover {
    background-color: #492e72
}


/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
    display: block;
}


/* Change the background color of the dropdown button when the dropdown content is shown */

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.popup {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.75);
}


/* Inner */

.popup-inner {
    max-width: 700px;
    width: 90%;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 1);
    border-radius: 3px;
    background: #fff;
}


/* Close Button */

.popup-close {
    width: 30px;
    height: 30px;
    padding-top: 4px;
    display: inline-block;
    position: absolute;
    top: 0px;
    right: 0px;
    transition: ease 0.25s all;
    -webkit-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
    border-radius: 1000px;
    background: rgba(0, 0, 0, 0.8);
    font-family: Arial, Sans-Serif;
    font-size: 20px;
    text-align: center;
    line-height: 100%;
    color: #fff;
}

.popup-close:hover {
    -webkit-transform: translate(50%, -50%) rotate(180deg);
    transform: translate(50%, -50%) rotate(180deg);
    background: rgba(0, 0, 0, 1);
    text-decoration: none;
}

table,
td,
th {
    border: 1px solid #ddd;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: 15px;
}

#searchPopup {
    /* Add a search icon to input */
    width: 100%;
    /* Full-width */
    font-size: 16px;
    /* Increase font-size */
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 12px;
    border: 1px solid #ddd;
    /* Add a grey border */
    margin-bottom: 12px;
    /* Add some space below the input */
    border-radius: 5px;
}