* {
    margin: 0;
    padding: 0;
}

a {
    all: unset;
}

body {
    background-color: white;
    font-family: Helvetica, Arial, 'lucida grande', tahoma, verdana, arial, sans-serif;
}

.profile_picture {
    border: 1px #ddd;
    padding: 5px;
    width: 150px;
    border-radius: 100%;
}

.box {
    background-color: white;
    color: black;
    padding: 20px;
    font-size: 100%;
}

.navbar {
    background-color: #492e72;
    grid-area: navbar;
    color: white;
    display: grid;
    grid-template-columns: 2fr 2fr 0.5fr 3fr 2fr;
    grid-template-areas: "title search_bar search_button . nav_buttons";
}

button,
#upload_new_photo {
    background-color: #714cac;
    border: none;
    padding: 9px;
    margin-left: 5px;
    margin-right: 5px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
}

.error_placeholder::placeholder {
    color: rgb(248, 142, 142);
    font-style: italic;
}

button:hover,
#upload_new_photo:hover {
    cursor: pointer;
    background: #492e72;
}

.nav-buttons button:hover {
    background: #7a51bb;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.nav-buttons button:active {
    cursor: pointer;
    background: #000;
}

#search-button:hover {
    background: #7a51bb;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

#search-button:active {
    cursor: pointer;
    background: #000;
}

button:active,
#upload_new_photo:active {
    cursor: pointer;
    background: #000;
}

#title-logo {
    grid-area: title;
}

#search-bar {
    grid-area: search_bar;
    border-radius: 10px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.search-btn {
    grid-area: search_button;
}

.nav-buttons {
    grid-area: nav_buttons;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}


/* The container <div> - needed to position the dropdown content */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    border-radius: 5px;
    position: absolute;
    background-color: #714cac;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    transform: translate(-5px, 10px);
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

#req_groups_dropdown {
    display: none;
    border-radius: 5px;
    position: absolute;
    background-color: #714cac;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

#req_groups_btn {
    display: none;
    color: white;
    padding: 12px 16px;
    border-radius: 5px;
    text-decoration: none;
    background-color: #714cac;
}

#req_groups_dropdown a:hover {
    background-color: #6c4ba0
}

#req_groups_btn:hover {
    background-color: #492e72;
}

#req_groups_btn:hover #req_groups_dropdown {
    display: block;
    transform: translate(-176.5px, -45px);
}

.dropdown-content a:hover {
    background-color: #492e72;
}

.dropdown:hover #req_groups_btn {
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.popup {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.75);
}


/* Inner */

.popup-inner {
    max-width: 700px;
    width: 90%;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 1);
    border-radius: 3px;
    background: #fff;
}


/* Close Button */

.popup-close {
    width: 30px;
    height: 30px;
    padding-top: 4px;
    display: inline-block;
    position: absolute;
    top: 0px;
    right: 0px;
    transition: ease 0.25s all;
    -webkit-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
    border-radius: 1000px;
    background: rgba(0, 0, 0, 0.8);
    font-family: Arial, Sans-Serif;
    font-size: 20px;
    text-align: center;
    line-height: 100%;
    color: #fff;
}

.popup-close:hover {
    -webkit-transform: translate(50%, -50%) rotate(180deg);
    transform: translate(50%, -50%) rotate(180deg);
    background: rgba(0, 0, 0, 1);
    text-decoration: none;
}

table,
td,
th {
    border: 1px solid #ddd;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: 15px;
}

#searchPopup {
    /* Add a search icon to input */
    width: 97%;
    /* Full-width */
    font-size: 16px;
    /* Increase font-size */
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 12px;
    border: 1px solid #ddd;
    /* Add a grey border */
    margin-top: 12px;
    margin-bottom: 12px;
    /* Add some space below the input */
    border-radius: 10px;
}


/* SHTUAR PER TE BERE TE PERBASHKTA STYLING E POSTEVE- per profil dhe per group dhe per home me vone */

#card_of_create_post {
    margin-bottom: 20px;
    padding-bottom: 50px;
}

.card span {
    padding: 10px;
}

.card {
    background-color: #fff;
    width: 500px;
    font-family: helvetica, sans-serif;
    font-size: 14px;
    padding: 12px 12px 0;
    margin-bottom: 20px;
    margin-left: 25%;
    margin-right: 25%;
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    border-radius: 3px;
}

.create_post {
    border-bottom: 1px solid gray;
    font-size: 120%;
}

.new_post,
.new_post_discussion {
    background-color: #fff;
    width: 95%;
    font-family: helvetica, sans-serif;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 12px 12px 0;
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    border-radius: 3px;
    resize: none;
}

.post_btn {
    margin-top: 10px;
    margin-bottom: 10px;
    float: right;
}

.img-profile {
    width: 40px;
    height: 40px;
    margin-right: 8px;
    margin-top: -2px;
    float: left;
}

.user {
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block;
    font-weight: bold;
    color: #365899;
    text-decoration: none;
}

.time {
    color: #90949c;
    text-decoration: none;
    font-size: 12px;
}

.body {
    padding-top: 10px;
    padding-left: 8px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.img-primary {
    width: 100%;
    height: 357px;
    border-radius: 5px;
}

.user:hover,
.friend:hover,
.time:hover {
    text-decoration: underline;
}

.footer {
    margin-top: 12px;
    padding-bottom: 4px;
}

.controls {
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    padding-top: 4px;
}

.like,
.comment,
.share {
    color: #7f7f7f;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    line-height: 14px;
    margin-right: 20px;
    margin-bottom: 5px;
    padding: 4px 4px 4px 0;
    text-decoration: none;
}

.view_more_comments {
    color: #7f7f7f;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    line-height: 14px;
    margin-top: 5px;
    margin-bottom: 0px;
    padding: 4px 4px 4px 0;
    text-decoration: none;
}

.view_more_comments:hover,
.like:hover,
.comment:hover,
.share:hover {
    cursor: pointer;
    text-decoration: underline;
}

.new_comment {
    margin-top: 5px;
}

.comment_child.prof_img.img,
.comment_child_hidden.prof_img.img {
    border-radius: 100%;
}

.new_comment_area {
    background-color: #fff;
    width: 80%;
    height: 25px;
    font-family: helvetica, sans-serif;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 10px;
    padding-left: 12px;
    padding-top: 8px;
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    border-radius: 30px;
    resize: none;
}

.comment_child,
.comment_child_hidden {
    margin-top: 5px;
    border-top: 1px solid #e5e5e5;
}

.output {
    width: 85%;
    display: inline-block;
    padding-top: 0px;
    padding-bottom: 5px;
    word-wrap: break-word;
}

#insert {
    background-color: #714cac;
    border: none;
    padding: 9px;
    margin-left: 5px;
    margin-right: 5px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-bottom: -100px;
    font-size: 16px;
    border-radius: 5px;
}

#insert:hover {
    cursor: pointer;
    background: #492e72;
}

#insert:active {
    cursor: pointer;
    background: #000;
}


/* Ketu mbarojne ato qe shtova per ti bere te perbashketa */

::-webkit-scrollbar {
    width: 9px;
    height: 9px;
}

::-webkit-scrollbar-thumb {
    background: rgb(109, 50, 205);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #ba1c8b;
}
