.post {
    background-color: white;
    color: black;
    padding: 10px;
    font-size: 150%;
    border: 1px solid black;
    border-radius: 5px;
}

.sidebar {
    background-color: white;
    grid-area: sidebar;
    margin-left: 5%;
}

.description {
    margin-top: 20px;
    margin-bottom: 20px;
}

.description p {
    border: 1px solid purple;
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
}

.posts {
    grid-area: posts;
    border: 1px solid purple;
    border-radius: 100px;
}

.right-sidebar {
    grid-area: right-sidebar;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 70px 1fr;
    grid-gap: 15px;
    grid-template-areas: "navbar navbar navbar" "sidebar posts right-sidebar";
    background-color: #fff;
    color: #444;
    background-color: #fff;
    color: #444;
}

.body {
    padding-top: 10px;
    padding-left: 8px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#prof_pic {
    border-radius: 10px;
}

.who {
    color: #90949c;
    margin-top: 0px;
    margin-bottom: 2px;
}

.friend {
    color: #365899;
    text-decoration: none;
}

.time {
    color: #90949c;
    text-decoration: none;
    font-size: 12px;
}

#new_group_name,
#new_group_description,
#new_group_topic,
#new_add_members {
    width: 100%;
    display: block;
    font-size: 16px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 12px;
    border: 1px solid #ddd;
    margin-top: 12px;
    margin-bottom: 12px;
}

.popup_btn_create {
    border-top: 1px solid #ddd;
    width: 100%;
    display: block;
    font-size: 16px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 12px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.popup_btn_create button {
    float: right;
}

.popup_group_type #radio {
    width: 100%;
    display: block;
    font-size: 16px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 12px;
    margin-top: 12px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
    padding-left: 10px;
}

#rad_open,
#rad_closed,
#rad_private {
    display: none;
}

input[type="radio"]:checked+label {
    background-color: rgb(149, 162, 238);
}

#radio:hover {
    background-color: #969fc5;
}

.fa-unlock-alt,
.fa-lock {
    float: left;
    margin-right: 10px;
}


/*Per figurat sociale*/

.social a {
    margin: 0.6rem;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
    height: 15vw;
    width: 15vw;
    max-width: 6rem;
    max-height: 6rem;
    display: inline-block;
}

.social a:hover {
    cursor: pointer;
}

.social a svg {
    height: 50%;
    width: 50%;
    fill: white;
}

.social .badges a {
    border-radius: 1rem;
}

.round {
    border-radius: 50%;
}

.rounded {
    border-radius: 20%;
}

.codepen {
    background: #383940;
}

.codepen:focus,
.codepen:hover {
    background: #202125;
}

.github {
    background: #383940;
}

.github:focus,
.github:hover {
    background: #202125;
}

.linkedin {
    background: #007bb6;
}

.linkedin:focus,
.linkedin:hover {
    background: #005983;
}

.no-bg a {
    background-color: transparent !important;
    margin: 0;
}

.no-bg .codepen svg {
    fill: #383940;
}

.no-bg .codepen:focus svg,
.no-bg .codepen:hover svg {
    fill: #202125;
}

.no-bg .github svg {
    fill: #202125;
}

.no-bg .github:focus svg,
.no-bg .github:hover svg {
    fill: #202125;
}

.no-bg .linkedin svg {
    fill: #007bb6;
}

.no-bg .linkedin:focus svg,
.no-bg .linkedin:hover svg {
    fill: #005983;
}


/*Mbarojne figurat sociale*/